<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GPR-OKA" value="https://nuget.pkg.github.com/okawali/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GPR-OKA>
      <add key="Username" value="Norgerman" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANCSeqLi6vUqRQbPUipnwcgAAAAACAAAAAAAQZgAAAAEAACAAAACUizx6cbPBRmJROMjrReELHjQ/DBcyiJLN4BvIhIehFwAAAAAOgAAAAAIAACAAAADHIMhFLEZhH6C5dIXf9fPpCyW9/9d8SI+lZswecpAOcjAAAACq86TJZi4C4XmX2JQ8TOd1VbJl7CIK5kiMvDEfUq2UnQCRpp8O1AtZCNrcHdAmSWBAAAAAoMC04dzXnBFV99ty2F5nGBQvXPmayhA/O181YESEH04JB2CKNSYM9g1gULaNaSvKux6t4GgK91wgjcHj+F2EJg==" />
    </GPR-OKA>
  </packageSourceCredentials>
</configuration>